@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employees";
}
<div ng-app="app">
    <h2>@ViewData["Title"]</h2>
    
    <div ng-controller="employeesController as c">
        <div id="spinner" ng-show="c.loading">
            <img src="images/ajax-loader.gif" class="ajax-loader" />
        </div>

        <div ng-hide="c.loading">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>National Id</th>
                        <th>Login Id</th>
                        <th>Job Title</th>
                        <th>Birth Date</th>
                        <th>Marital Status</th>
                        <th>Gender</th>
                        <th>Hire Date</th>
                        <th>Paid</th>
                        <th>Vacation Hours</th>
                        <th>Sick Leave Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in c.employees">
                        <td>{{employee.businessEntityId}}</td>
                        <td>{{employee.nationalIdnumber}}</td>
                        <td>{{employee.loginId}}</td>
                        <td>{{employee.jobTitle}}</td>
                        <td>{{employee.birthDate | date:dd-MM-yyyy}}</td>
                        <td>{{employee.maritalStatus}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.hireDate | date:dd-MM-yyyy}}</td>
                        <td>{{employee.salariedFlag}}</td>
                        <td>{{employee.vacationHours}}</td>
                        <td>{{employee.sickLeaveHours}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/app/employees/employees.module.js"></script>
    <script src="~/js/app/employees/employees.controller.js"></script>
    <script src="~/js/app/employees/employees.service.js"></script>
}